<div class="container" *ngIf="isLoggedIn ;else elseBlock">
  <div class="choix" [hidden]="hidden1">
    <br><br><br>
    <div class="row align-items-center">
      <div class="row row-cols-1 row-cols-md-3 g-4"> <br>
        <div class="col" *ngFor="let thing of dashboards">
          <div class="card h-100">
            <img class="img-fluid" src="assets/admindash.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title ">
                <a (click)="getdashurl(thing.id_dash);hidden1=!hidden1;hidden2=!hidden2;id_chosen=thing.id_dash;url=thing.url"
                  class="btn btn-primary w-100" style="color: white;">{{thing.dash}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right" [hidden]="hidden2">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a (click)="hidden1=!hidden1;hidden2=!hidden2" class="dropdown-item">Revenir vers choix de dashboard</a>
        <a class="dropdown-item" target="_blank" href="https://localhost:5601/app/dashboards#/">Vers Kibana</a>
        <a class="dropdown-item" (click)="hidden3=!hidden3;hidden2=!hidden2">Modifier dashboard</a>
      </div>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9" [hidden]="hidden2">
    <iframe class="embed-responsive-item" [src]="url" width="1000" height="550"></iframe>
  </div>
  <form novalidate [hidden]="hidden3">
    <div class="form-group">
      <label for="validationTooltip01">Intitulé du dashboard</label>
      <input type="text" class="form-control" id="validationTooltip01" [(ngModel)]="dashboard.dash"
        [ngModelOptions]="{standalone: true}" required #dash="ngModel">
      <div class="alert alert-danger" *ngIf="dash.invalid && dash.touched">
        L'intitutlé du tableau de bord est un champ obligatoire !
      </div>
    </div>
    <div class="form-group">
      <label for="validationTooltip02">Role associé</label>
      <select [(ngModel)]="dashboard.role" [ngModelOptions]="{standalone: true}" class="form-control"
        id="validationTooltip02" required #role="ngModel">
        <option *ngFor="let item of roles_list" [value]="item.id">{{item.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="role.invalid && role.touched">
        Le choix du role associé est obligatoire !
      </div>
    </div>
    <div class="form-group">
      <label for="validationTooltip03">URL</label>
      <textarea [(ngModel)]="dashboard.url" [ngModelOptions]="{standalone: true}" class="form-control"
        id="validationTooltip03" rows="3" required #uri="ngModel" minlength="50"></textarea>
      <div class="alert alert-danger" *ngIf="uri.invalid && uri.touched">
        Veuillez saisir l'URL du tableau de bord !
      </div>
    </div>
    <br>
    <div class="float-left">
      <button class="btn btn-secondary" type="button" (click)="hidden3=!hidden3;hidden2=!hidden2">Revenir vers
        Dashboard</button>
    </div>
    <div class="float-right">
      <button class="btn btn-primary" type="submit" (click)="updateDashboard(id_chosen)"
        [disabled]="dash.invalid || uri.invalid || role.invalid">Mettre à jour
        Dashboard</button>
    </div>
  </form>
</div>
<ng-template #elseBlock>
  <div class="col-sm-6">
    <div class="card border border-danger shadow-0 mb-3">
      <div class="card-header">Accès interdit</div>
      <div class="card-body">
        <h5 class="card-title">Veuillez vous connecter</h5>
        <p class="card-text">
          Cliquer sur le bouton pour être rediriger vers l'interface de connexion
        </p>
        <a routerLink="/login">
          <button class="btn btn-danger pull-right">Se connecter</button></a>
      </div>
    </div>
  </div>
</ng-template>