<div class="container" *ngIf="isLoggedIn ;else elseBlock">
  <div class="choix" [hidden]="hidden1">
    <div class="row row-cols-1 row-cols-md-3 g-4"> <br>
      <div class="col" *ngFor="let thing of dashboards">
        <div class="card h-100">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">{{thing.dash}}</h5>
            <p class="card-text">
              <br>
              <img mat-card-image src="assets/{{thing.id_dash -3}}.png">
            </p>
          </div>
          <div class="card-footer text-center">
            <div class="buttons"><input class="btn btn-primary" type="submit" value="Selectionner"
                (click)="getdashurl(thing.id_dash);hidden1=!hidden1;hidden2=!hidden2;id_chosen=thing.id_dash">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="float-right" [hidden]="hidden2">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [disabled]="hidden2">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a (click)="hidden1=!hidden1;hidden2=!hidden2" class="dropdown-item">Revenir vers choix de dashboard</a>
       <!--  <a class="dropdown-item" target="_blank" href="{{dashboards[id_chosen].url}}">Vers Kibana</a> -->
      </div>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9" [hidden]="hidden2">
    <iframe class="embed-responsive-item" [src]="url" width="1000" height="550"></iframe>
  </div>

</div>
<div>
  <ng-template #elseBlock> Veuiller vous connecter !
    <a routerLink="/login">
      <button class="btn btn-success pull-right">Se connecter</button></a>
  </ng-template>
</div>