<div class="container" *ngIf="isLoggedIn ;else elseBlock">

  <div class="choix" [hidden]="hidden1">
    <br><br><br>
    <div class="row align-items-center">
      <div class="row row-cols-1 row-cols-md-3 g-4"> <br>
        <div class="col" *ngFor="let thing of dashboards">
          <div class="card h-100">
            <img class="img-fluid" src="assets/userdash.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title ">
                <a (click)="getdashurl(thing.id_dash);hidden1=!hidden1;hidden2=!hidden2;id_chosen=thing.id_dash;url=thing.url"
                  class="btn btn-primary w-100" style="color: white;">{{thing.dash}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="float-right" [hidden]="hidden2">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" [disabled]="hidden2">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a (click)="hidden1=!hidden1;hidden2=!hidden2" class="dropdown-item">Revenir vers choix de dashboard</a>
      </div>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9" [hidden]="hidden2">
    <iframe class="embed-responsive-item" [src]="url" width="1000" height="550"></iframe>
  </div>

</div>
<div>
  <ng-template #elseBlock> Veuiller vous connecter !
    <a routerLink="/login">
      <button class="btn btn-success pull-right">Se connecter</button></a>
  </ng-template>
</div>